<h1>All Discounts</h1>

<%= link_to 'Create New Discount', '/merchant/discounts/new' %>
<% @discounts.each do |discount| %>
  <section id="discounts-<%=discount.id%>">
    <p>Discount: <%= discount.name %></p>
    <p>Description: <%= discount.description %></p>
    <p>Percentage Off: <%= number_to_percentage(discount.percentage_off, precision: 0) %></p>
    <p>Minimum Amount of Items for Discount: <%= discount.minimum %></p>
    <p>Maximum Amount of Items for Discount: <%= discount.maximum %></p>
    <%= link_to 'Update Discount', "/merchant/discounts/edit/#{discount.id}" %>
    <%= link_to 'Delete Discount', "/merchant/discounts/#{discount.id}", method: :delete %>
  </section>
<% end %>
