<h1>All Discounts</h1>

<% @discounts.each do |discount| %>
  <p>Discount: <%= discount.name %></p>
  <p>Description: <%= discount.description %></p>
  <p>Percentage Off: <%= discount.percentage_off %></p>
  <p>Minimum Amount of Items for Discount: <%= discount.minimum %></p>
  <p>Maximum Amount of Items for Discount: <%= discount.maximum %></p>
<% end %>
